In [ ]:
def equacao(a, b, c):
  if a!= 0:
    if b!= 0:
      print("Equação do 1 grau")
      return -c/b
    else:
      print("Não é possível calcular")
      return None
  else:#b == 0
    delta = b**2 -4*a*c
    print("Delta = ", delta)
    if delta == 0:
      print("Delta zero")
      return -b/(2*a)
    else:
      if delta > 0:
        print("Delta positivo")
      else:
        print("Delta negativo")
      x1 = (-b + delta**0.5)/(2*a)
      x2 = (-b + delta**0.5)/(2*a)
      return(x1, x1)

a = float(input("digite o valor de a:"))
b = float(input("digite o valor de b:"))
c = float(input("digite o valor de c:"))
equacao(a, b, c)

digite o valor de a:1
digite o valor de b:4
digite o valor de c:1
Equação do 1 grau

-0.25

In [ ]:
# (-900)**0.5

In [ ]:
def funcao(salario, comissao=5, imposto=0):
  return salario + comissao - imposto

#funcao(imposto=10, comissao=200, salario=2000)
funcao(2000,200, 10)

2190

In [ ]:
def juros_compostos(c, j, t=1):
  return c*(1+j)**t

juros_compostos(5000, 0.1, 30)

87247.01134443225

In [ ]:
investidor1 = {'name': 'João', 'capital': 10000, 'investimentos': {'CDB': 0.35, 'ações': 0.12, "LCA": 0.33, "LCI": 0.20}}
investidor2 = {'name': 'Maria', 'capital': 8000, 'investimentos': {'CDB': 0.10, 'ações': 0.70, "FII": 0.20}}

In [ ]:
taxas = {'CDB': 0.35, 'ações': 0.12, "LCI": 0.33, "FII": 0.09, "LCA": 0.03}

In [ ]:
investidores = [investidor1, investidor2]

In [ ]:
for pessoa in investidores:
  nome = pessoa['name']
  capital = pessoa['capital']
  montante = 0
  for aplicacao, percentual in pessoa['investimentos'].items():
    montante = montante + juros_compostos(capital* percentual, taxas[aplicacao], 3)
  print(nome, "terá após 3 anos R${:.2f}".format(montante))

João terá após 3 anos R$18608.50
Maria terá após 3 anos R$11907.94